.popup__form {
    max-width: 358px;
    min-height: 84px;
    padding: 0 36px 38px 36px;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(29px, max-content) minmax(24px, max-content) minmax(29px, max-content) minmax(24px, max-content) minmax(50px, max-content);
    grid-row-gap: 2px;
    grid-auto-flow: column;
}

@media screen and (max-width: 767px) {
    .popup__form {
        max-width: 238px;
        padding: 0 22px 25px 22px;
    }
}