.card__delete {
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    display: block;
    background-image: url(../../../images/delete.svg);
    background-color: transparent;
    top: 20px;
    right: 20px;
    box-sizing: border-box;
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-origin: initial;
    background-clip: initial;
    position: absolute;
}

.card__delete:hover {
    opacity: 0.5;
    cursor: pointer;
}